<a href="https://colab.research.google.com/github/KuriaDan/KuriaIPC1/blob/master/Moringa_Data_Science_Core_W1_Independent_Project_2019_06_Daniel_Kuria_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Defining the Question**

# 1. Defining the Question

### a) Specifying the Data Analytic Question

Financial Inclusion remains one of the main obstacles to economic and human development in Africa. For example, across Kenya, Rwanda, Tanzania, and Uganda only 9.1 million adults (or 13.9% of the adult population) have access to or use a commercial bank account.

Traditionally, access to bank accounts has been regarded as an indicator of financial inclusion. Despite the proliferation of mobile money in Africa and the growth of innovative fintech solutions, banks still play a pivotal role in facilitating access to financial services. Access to bank accounts enables households to save and facilitate payments while also helping businesses build up their credit-worthiness and improve their access to other financial services. Therefore, access to bank accounts is an essential contributor to long-term economic growth.

The research problem is to figure out how we can predict which individuals are most likely to have or use a bank account. Your solution will help provide an indication of the state of financial inclusion in Kenya, Rwanda, Tanzania, and Uganda, while providing insights into some of the key demographic factors that might drive individualsâ€™ financial outcomes.

In [4]:
# Let's first import the libraries we will need
# ---
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   # Data visualisation libraries 
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn import model_selection
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
%pylab inline
matplotlib.rcParams['figure.dpi'] = 300
matplotlib.rcParams['figure.figsize'] = (8,6)
#from biokit.viz import corrplot

Populating the interactive namespace from numpy and matplotlib

In [5]:
#loading our dataset
FinDat = pd.read_csv('Financial Dataset - 1.csv')
FinDat.head()

  country  year  ...              Level of Educuation                Type of Job
0   Kenya  2018  ...              Secondary education              Self employed
1   Kenya  2018  ...              No formal education       Government Dependent
2   Kenya  2018  ...  Vocational/Specialised training              Self employed
3   Kenya  2018  ...                Primary education  Formally employed Private
4   Kenya  2018  ...                Primary education        Informally employed

[5 rows x 13 columns]

In [6]:
#importing the pandas_profiling to preview the dataset and view the profile report
!pip3 install pandas-profiling
import pandas_profiling as pp
pp.ProfileReport(FinDat)

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.24.2)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (1.12.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.10.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2.5.3)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (1.16.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (41.0.1)

In [7]:
##previewing the columns
FinDat.columns

Index(['country', 'year', 'uniqueid', 'Has a Bank account', 'Type of Location',
       'Cell Phone Access', 'household_size', 'Respondent Age',
       'gender_of_respondent', 'The relathip with head', 'marital_status',
       'Level of Educuation', 'Type of Job'],
      dtype='object')

# Tidying the Dataset

Identifying the Missing Data

In [8]:
#Counting the number of null values in the dataset
FinDat.isnull().sum()

country                   14
year                       0
uniqueid                   0
Has a Bank account        36
Type of Location          15
Cell Phone Access         11
household_size            28
Respondent Age            34
gender_of_respondent      34
The relathip with head     4
marital_status            32
Level of Educuation       29
Type of Job               30
dtype: int64

dropping the null values

In [0]:
#dropping the null values
Fin = FinDat.dropna()

 More data cleaning procedures

In [0]:
##dropping the uniqueid column as it has a high cardinality
Fin=Fin.drop(columns=['uniqueid'])

In [0]:
# Get names of indexes for which year is greater than 2018
indexNames = Fin[Fin['year'] > 2018 ].index
# Delete these row indexes from dataFrame
Fin.drop(indexNames , inplace=True)

In [12]:
Fin.year.unique()

array([2018, 2016, 2017])

#Exploratory Analysis

Ploting the univariate summaries and recording our observations

In [0]:
#univariate analysis of Household size column
mean = Fin.household_size.mean()
stdh = Fin.household_size.std()
modeh = Fin.household_size.mode()
medianh = Fin.household_size.median()
varh = Fin.household_size.var()

In [14]:
mean
#the average size of households in the four countries is 3.7

3.688560411311054

In [15]:
medianh
#the median size of households in the four countries is 3

3.0

In [16]:
modeh
#the mode of the column is 2

0    2.0
dtype: float64

In [17]:
stdh
#the standard deviation of the size of the households in the four countries is 2.28

2.2812745975350435

In [18]:
varh

5.204213789358675

In [0]:
meana = Fin["Respondent Age"].mean()
stda = Fin['Respondent Age'].std()
modea = Fin['Respondent Age'].mode()
mediana = Fin['Respondent Age'].median()
vara = Fin['Respondent Age'].var()

In [20]:
meana
#the average age of the respondents in the study is 38.8 yrs

38.80706940874036

In [21]:
stda
#the standard deviation of the respondents age is 16.51

16.519904564514412

In [22]:
modea
#the mode of the respondents is 30

0    30.0
dtype: float64

In [23]:
mediana
#the median age of the respondents is 35

35.0

In [24]:
vara
#the variance of the ages is 272.91

272.90724682066417

# Visualisations

In [25]:
#boxplot of the household sizes
plt.figure(dpi=200)
Fin.boxplot(["household_size"])

In [26]:
#boxplot of the respondents age columns
plt.figure(dpi=200)
Fin.boxplot(["Respondent Age"])

In [27]:
#histogram of the respondents ages
#Fin['Respondent Age'].hist()
sns.distplot(Fin['Respondent Age'], kde=True)

In [28]:
#histogram of the size of the households
#Fin['household_size'].hist()
sns.distplot(Fin.household_size, kde=True)

#Bivariate analysis

In [29]:
#using a scatter plot to compare the two variables
#Fin.plot(x='Respondent Age', y='household_size', kind='scatter')
plt.figure(dpi=200)
sns.scatterplot(Fin['Respondent Age'], Fin.household_size)

In [0]:
#comparison of the gender of the respondents
fin1 = Fin.groupby(['gender_of_respondent'])['gender_of_respondent'].count()
fin1

fin1.plot(kind='bar', figsize=(8, 6))
plt.show()

In [31]:
#calculating the correlation between respondent age and household size
Fin['Respondent Age'].corr(Fin.household_size)

#respondent age and size of houshold exhibits weak negative correlation

-0.11967115234154871

In [32]:
!pip3 install biokit

Collecting biokit
  Downloading https://files.pythonhosted.org/packages/f4/de/df814e8c3000f30878aad21bbd505c2a7b889b332260d2571a996dccc3c0/biokit-0.4.4.tar.gz (198kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 204kB 4.9MB/s
Collecting easydev>=0.9.34 (from biokit)
  Downloading https://files.pythonhosted.org/packages/d5/fa/2743d3d882ec9a42e0f84e6f01d6cbcb18a536a43a06b570318da91c79a8/easydev-0.9.37.tar.gz (53kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61kB 20.7MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from biokit) (0.24.2)
Collecting bioservices>=1.4.5 (from biokit)
  Downloading https://files.pythonhosted.org/packages/06/86/faed9e612fece11be0ea01592bc44e6cf23ed5e855754f5ec3fdb91d838f/bioservices-1.6.0.tar.gz (209kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 215kB 42.9MB/s
Collecting colormap (from biokit)
  Downloading https://files.pythonhosted.org/packages/d7/18/fcfa885ada4902d754a66b1f71aa67c721bfcf25037b5fa438b0bf4f5d77/colormap-1.0.2.tar.gz
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from biokit) (1.3.0)
Collecting biopython (from biokit)
  Downloading https://files.pythonhosted.org/packages/ed/77/de3ba8f3d3015455f5df859c082729198ee6732deaeb4b87b9cfbfbaafe3/biopython-1.74-cp36-cp36m-manylinux1_x86_64.whl (2.2MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2.2MB 41.4MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from biokit) (3.0.3)
Collecting numpydoc (from biokit)
  Downloading https://files.pythonhosted.org/packages/6a/f3/7cfe4c616e4b9fe05540256cc9c6661c052c8a4cec2915732793b36e1843/numpydoc-0.9.1.tar.gz
Collecting colorlog (from biokit)
  Downloading https://files.pythonhosted.org/packages/68/4d/892728b0c14547224f0ac40884e722a3d00cb54e7a146aea0b3186806c9e/colorlog-4.0.2-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from biokit) (3.13)
Collecting pysam (from biokit)
  Downloading https://files.pythonhosted.org/packages/15/e7/2dab8bb0ac739555e69586f1492f0ff6bc4a1f8312992a83001d3deb77ac/pysam-0.15.3.tar.gz (3.2MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3.2MB 33.3MB/s
Collecting colorama (from easydev>=0.9.34->biokit)
  Downloading https://files.pythonhosted.org/packages/4f/a6/728666f39bfff1719fc94c481890b2106837da9318031f71a8424b662e12/colorama-0.4.1-py2.py3-none-any.whl
Requirement already satisfied: pexpect in /usr/local/lib/python3.6/dist-packages (from easydev>=0.9.34->biokit) (4.7.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->biokit) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->biokit) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->biokit) (2.5.3)
Collecting grequests (from bioservices>=1.4.5->biokit)
  Downloading https://files.pythonhosted.org/packages/4b/b1/c728222e53380685642bab115240e7bf134837c288fe89cce3b3bb591a5d/grequests-0.4.0-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from bioservices>=1.4.5->biokit) (2.21.0)
Collecting requests_cache (from bioservices>=1.4.5->biokit)
  Downloading https://files.pythonhosted.org/packages/15/d1/6b9836a781d18811d7f0ca7731d0ee817c4e6f33b7ecd8502ad20996b3e9/requests_cache-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bioservices>=1.4.5->biokit) (4.6.3)
Collecting xmltodict (from bioservices>=1.4.5->biokit)
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from bioservices>=1.4.5->biokit) (4.2.6)
Collecting suds-jurko (from bioservices>=1.4.5->biokit)
  Downloading https://files.pythonhosted.org/packages/bd/6f/54fbf0999a606680d27c69b1ad12dfff62768ecb9fe48524cebda6eb4423/suds-jurko-0.6.tar.bz2 (143kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 153kB 40.1MB/s
Collecting appdirs (from bioservices>=1.4.5->biokit)
  Downloading https://files.pythonhosted.org/packages/56/eb/810e700ed1349edde4cbdc1b2a21e28cdf115f9faf263f6bbf8447c1abf3/appdirs-1.4.3-py2.py3-none-any.whl
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from bioservices>=1.4.5->biokit) (1.11.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->biokit) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->biokit) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->biokit) (2.4.2)
Requirement already satisfied: sphinx>=1.6.5 in /usr/local/lib/python3.6/dist-packages (from numpydoc->biokit) (1.8.5)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.6/dist-packages (from numpydoc->biokit) (2.10.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect->easydev>=0.9.34->biokit) (0.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->biokit) (1.12.0)
Requirement already satisfied: gevent in /usr/local/lib/python3.6/dist-packages (from grequests->bioservices>=1.4.5->biokit) (1.4.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->bioservices>=1.4.5->biokit) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->bioservices>=1.4.5->biokit) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->bioservices>=1.4.5->biokit) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->bioservices>=1.4.5->biokit) (2019.6.16)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->biokit) (41.0.1)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (1.1.2)
Requirement already satisfied: imagesize in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (1.1.0)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (2.7.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (0.7.12)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (2.1.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (19.1)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (1.9.0)
Requirement already satisfied: docutils>=0.11 in /usr/local/lib/python3.6/dist-packages (from sphinx>=1.6.5->numpydoc->biokit) (0.14)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.3->numpydoc->biokit) (1.1.1)
Requirement already satisfied: greenlet>=0.4.14; platform_python_implementation == "CPython" in /usr/local/lib/python3.6/dist-packages (from gevent->grequests->bioservices>=1.4.5->biokit) (0.4.15)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from packaging->sphinx>=1.6.5->numpydoc->biokit) (19.1.0)
Building wheels for collected packages: biokit, easydev, bioservices, colormap, numpydoc, pysam, suds-jurko
  Building wheel for biokit (setup.py) ... done
  Created wheel for biokit: filename=biokit-0.4.4-cp36-none-any.whl size=212621 sha256=3bfbe835cde534f44316e81fb60f1b7c0a9535a4ada8b0b259dea14844780e79
  Stored in directory: /root/.cache/pip/wheels/48/e4/9e/7eca6f96742d7eee090aa8d5222026413702df9511f7894125
  Building wheel for easydev (setup.py) ... done
  Created wheel for easydev: filename=easydev-0.9.37-cp36-none-any.whl size=72197 sha256=7c381dece025de4eab074c5244e4ae2bc2e6d8f26f88f12f91efe3cf84ab189b
  Stored in directory: /root/.cache/pip/wheels/cc/c3/50/d1813a2661a77281137a27ab2e03ae13dee2c7887b984461b4
  Building wheel for bioservices (setup.py) ... done
  Created wheel for bioservices: filename=bioservices-1.6.0-cp36-none-any.whl size=219218 sha256=8f2a7d62341c153425c4ea664aec85d676a1f7094a6566f5c9c8849554a242f3
  Stored in directory: /root/.cache/pip/wheels/8f/30/2d/8fa57e1e93219a0872af09250fffda01b72243199c0ebc1ea9
  Building wheel for colormap (setup.py) ... done
  Created wheel for colormap: filename=colormap-1.0.2-cp36-none-any.whl size=15552 sha256=c9d4844d005269512026dee96dab6b6d4e23957370dd1c4937f5f169e82ec91a
  Stored in directory: /root/.cache/pip/wheels/60/a4/86/b0886930b0630918b73233884ad804b47c02bfa3454b7a70e9
  Building wheel for numpydoc (setup.py) ... done
  Created wheel for numpydoc: filename=numpydoc-0.9.1-cp36-none-any.whl size=31873 sha256=cf6d7d34940a0b07138fff354899451af1cf2b51bfc25116de8df3c160c10408
  Stored in directory: /root/.cache/pip/wheels/51/30/d1/92a39ba40f21cb70e53f8af96eb98f002a781843c065406500
  Building wheel for pysam (setup.py) ... done
  Created wheel for pysam: filename=pysam-0.15.3-cp36-cp36m-linux_x86_64.whl size=8790354 sha256=1674aab6091555dcb56640a17e5d33ad34e097ed398b97e65ac7c86465582a89
  Stored in directory: /root/.cache/pip/wheels/85/ab/84/86ca6dda37a6fc85687b67be7345b735cd82f6584bea56f327
  Building wheel for suds-jurko (setup.py) ... done
  Created wheel for suds-jurko: filename=suds_jurko-0.6-cp36-none-any.whl size=454599 sha256=3823066c58481d45f1772eeea95eb246b6fe0d90617f673ca310ac1df8ed0f29
  Stored in directory: /root/.cache/pip/wheels/12/68/53/d3902c054e32115da1d45bac442a547a071a86a65db4d77027
Successfully built biokit easydev bioservices colormap numpydoc pysam suds-jurko
Installing collected packages: colorama, colorlog, easydev, grequests, requests-cache, xmltodict, suds-jurko, appdirs, bioservices, colormap, biopython, numpydoc, pysam, biokit
Successfully installed appdirs-1.4.3 biokit-0.4.4 biopython-1.74 bioservices-1.6.0 colorama-0.4.1 colorlog-4.0.2 colormap-1.0.2 easydev-0.9.37 grequests-0.4.0 numpydoc-0.9.1 pysam-0.15.3 requests-cache-0.5.0 suds-jurko-0.6 xmltodict-0.12.0

In [33]:
x.corr(method='pearson', min_periods=1)

NameError: ignored

#Multivariate Analysis

In [0]:
x.corr(method='pearson', min_periods=1)

In [0]:
c = corrplot.Corrplot(x)

In [0]:
#plt.figure(dpi=300)
c.plot(colorbar=False, method='square', shrink=.9 ,rotation=90)

In [0]:
#!pip3 install researchpy
import researchpy as rp
rp.summary_cont(x)

In [0]:
sns.pairplot(x)

##Principal Component Analysis

In [0]:
#before performing PCA, we have to create dummy variables of the categorical variables
#but first we have to divide the dataset into a feature set and the corresponding labels
x = Fin.drop('Has a Bank account', 1)
y = Fin['Has a Bank account']

In [35]:
#previewing the two new dataframes
x.head()

  country  year  ...              Level of Educuation                Type of Job
0   Kenya  2018  ...              Secondary education              Self employed
1   Kenya  2018  ...              No formal education       Government Dependent
2   Kenya  2018  ...  Vocational/Specialised training              Self employed
3   Kenya  2018  ...                Primary education  Formally employed Private
4   Kenya  2018  ...                Primary education        Informally employed

[5 rows x 11 columns]

In [0]:
y.head()

In [0]:
#creating dummy variables for the categorical variables
x = pd.get_dummies(x)

In [0]:
pp.ProfileReport(x)

In [37]:
#previewing the new dataset
x.head()

   year  ...  Type of Job_Self employed
0  2018  ...                          1
1  2018  ...                          0
2  2018  ...                          1
3  2018  ...                          0
4  2018  ...                          0

[5 rows x 41 columns]

In [0]:
x.columns

In [0]:
# The next preprocessing step is to divide data into training and test sets. 
# We execute the following script to do so:
#
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [0]:
# Using standard scalar normalization to normalize our feature set. 
# To do this, we execute the following code:
# 
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [0]:
#performing PCA accounting for 95% variance
from sklearn.decomposition import PCA

pca = PCA(.95)
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)

In [77]:
# Step 7: Explained Variance Ratio
# The PCA class contains explained_variance_ratio_ which returns the variance caused by each of the principal components. 
# We execute the following line of code to find the "explained variance ratio".
# 
explained_variance = pca.explained_variance_ratio_
explained_variance

array([0.10171163, 0.07253785, 0.06972458, 0.06247519, 0.05166259,
       0.04624466, 0.04015419, 0.03564433, 0.03487714, 0.03116651,
       0.02975091, 0.02710112, 0.02627195, 0.02523953, 0.02503204,
       0.02476803, 0.02467043, 0.024296  , 0.02415896, 0.02392125,
       0.02372821, 0.02327924, 0.02208826, 0.02111412, 0.01971555,
       0.01924303, 0.01542758, 0.01323842])

In [78]:
# Step 9: Training and Making Predictions
# In this case we'll use random forest classification for making the predictions.
# 
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(x_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(x_test)
y_pred

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [79]:
# Step 10: Performance Evaluation
# 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
a = accuracy_score(y_test, y_pred)
print(cm)
print('Accuracy', a)

[[4027    9]
 [ 573   59]]
Accuracy 0.8753213367609255

In [0]:
#

However, after performing PCA, the model is not able to correctly predict for people who will not or don't have bank accounts.
therefore, we will try using LDA

In [80]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
ld1 = LDA(n_components=23)
x_train = ld1.fit_transform(x_train, y_train)
x_test = ld1.transform(x_test)
classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

c1 = confusion_matrix(y_test, y_pred)
print(c1)
print('Accuracy', str(accuracy_score(y_test, y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:466: ChangedBehaviorWarning: n_components cannot be larger than min(n_features, n_classes - 1). Using min(n_features, n_classes - 1) = min(28, 2 - 1) = 1 components.
  ChangedBehaviorWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:472: FutureWarning: In version 0.23, setting n_components > min(n_features, n_classes - 1) will raise a ValueError. You should set n_components to None (default), or a value smaller or equal to min(n_features, n_classes - 1).
  warnings.warn(future_msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[[3992   44]
 [ 479  153]]
Accuracy 0.8879605826906598

The model is now able to predict for correct Nos. However the ratio is still heavily skewed towards Yes Yes'

#Multiple regression Analysis

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   # Data visualisation libraries 
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn import model_selection
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [50]:
#Y=Fin['Has a Bank account']
len(Y)

23340

In [51]:
len(x)

23340

In [54]:
Fin.head()

  country  year  ...                Type of Job bank
0   Kenya  2018  ...              Self employed    1
1   Kenya  2018  ...       Government Dependent    0
2   Kenya  2018  ...              Self employed    1
3   Kenya  2018  ...  Formally employed Private    0
4   Kenya  2018  ...        Informally employed    0

[5 rows x 13 columns]

In [42]:
x.head()

   year  ...  Type of Job_Self employed
0  2018  ...                          1
1  2018  ...                          0
2  2018  ...                          1
3  2018  ...                          0
4  2018  ...                          0

[5 rows x 41 columns]

In [0]:
#Binary encoding our target variable
Fin['bank']=Fin['Has a Bank account'].map({'Yes':1, 'No':0})
Y=Fin[['bank', 'Has a Bank account']]

In [0]:
Y = Y.bank

In [0]:
Y = Y.astype(float)

In [72]:
Y.head()

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: bank, dtype: float64

In [73]:
x_train, x_test, Y_train, Y_test = train_test_split(x, Y, test_size = 0.4, random_state = 101)
lm = LinearRegression()
results = lm.fit(x_train,Y_train)
predictions = lm.predict(x_test)
plt.scatter(Y_test,predictions)
r2_score(Y_test, predictions) 
(lm.coef_, lm.intercept_)


x2 = sm.add_constant(x.values)  
model = sm.OLS(Y, x2).fit()  
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   bank   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.263
Method:                 Least Squares   F-statistic:                     261.3
Date:                Tue, 13 Aug 2019   Prob (F-statistic):               0.00
Time:                        05:21:46   Log-Likelihood:                -4920.3
No. Observations:               23340   AIC:                             9907.
Df Residuals:                   23307   BIC:                         1.017e+04
Df Model:                          32
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         1.5e-05   4.02e-06      3.730      0.000    7.12e-06    2.29e-05
x1             0.0001   1.43e-05      8.329      0.000    9.14e-05       0.000
x2            -0.0013      0.001     -1.247      0.212      -0.003       0.001
x3             0.0013      0.000      7.914      0.000       0.001       0.002
x4             0.0845      0.004     20.700      0.000       0.077       0.093
x5             0.0390      0.004      9.419      0.000       0.031       0.047
x6            -0.0479      0.005     -9.482      0.000      -0.058      -0.038
x7            -0.0756      0.006    -12.082      0.000      -0.088      -0.063
x8            -0.0211      0.002     -8.777      0.000      -0.026      -0.016
x9             0.0211      0.002      8.783      0.000       0.016       0.026
x10           -0.0368      0.002    -15.055      0.000      -0.042      -0.032
x11            0.0368      0.002     15.063      0.000       0.032       0.042
x12           -0.0189      0.003     -7.185      0.000      -0.024      -0.014
x13            0.0189      0.003      7.192      0.000       0.014       0.024
x14           -0.0235      0.008     -3.095      0.002      -0.038      -0.009
x15            0.0518      0.006      8.635      0.000       0.040       0.064
x16           -0.0387      0.019     -2.092      0.036      -0.075      -0.002
x17           -0.0233      0.011     -2.187      0.029      -0.044      -0.002
x18           -0.0053      0.009     -0.573      0.566      -0.023       0.013
x19            0.0390      0.007      5.786      0.000       0.026       0.052
x20           -0.0166      0.022     -0.753      0.452      -0.060       0.027
x21            0.0237      0.085      0.280      0.779      -0.142       0.190
x22            0.0128      0.022      0.596      0.551      -0.029       0.055
x23           -0.0124      0.022     -0.575      0.565      -0.055       0.030
x24           -0.0076      0.022     -0.345      0.730      -0.051       0.036
x25           -0.0816      0.052     -1.576      0.115      -0.183       0.020
x26           -0.2279      0.018    -12.692      0.000      -0.263      -0.193
x27            0.2318      0.091      2.543      0.011       0.053       0.410
x28           -0.1804      0.018    -10.262      0.000      -0.215      -0.146
x29           -0.0643      0.018     -3.600      0.000      -0.099      -0.029
x30            0.1660      0.019      8.714      0.000       0.129       0.203
x31            0.1563      0.020      7.964      0.000       0.118       0.195
x32           -0.0414      0.024     -1.691      0.091      -0.089       0.007
x33           -0.1076      0.006    -17.177      0.000      -0.120      -0.095
x34            0.2869      0.015     19.302      0.000       0.258       0.316
x35            0.1877      0.010     19.478      0.000       0.169       0.207
x36            0.0190      0.018      1.058      0.290      -0.016       0.054
x37           -0.1188      0.006    -20.286      0.000      -0.130      -0.107
x38           -0.0676      0.012     -5.567      0.000      -0.091      -0.044
x39            0.0005      0.010      0.053      0.958      -0.018       0.019
x40           -0.1206      0.007    -16.917      0.000      -0.135      -0.107
x41           -0.0380      0.006     -6.592      0.000      -0.049      -0.027
==============================================================================
Omnibus:                     6603.297   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16502.110
Skew:                           1.565   Prob(JB):                         0.00
Kurtosis:                       5.679   Cond. No.                     2.14e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.08e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.